@charset "UTF-8";

/* Common */

body {
    margin: 0 auto;
}

.container {
    height: fit-content;
}

.wrapper {
    margin: 32px auto;
    display: block;
}

.topTitle {
    font-size: 24px;
    text-align: center;
}

/* Parts */

.btn-primary {
    width: fit-content;
}

/* Reserve Page */

.inputContents {
    margin-bottom: 16px;
    width: 400px;
}

.inputContents:last-child {
    text-align: center;
}

.formIndex {
    margin-bottom: 4px;
}

.textAreaLarge {
    width: 400px;
    height: 300px;
    vertical-align: top;
    overflow-wrap: break-word;
}

/* datePicker */

.datePicker {
    vertical-align: middle;
    justify-content: center;
    margin: 0 auto 24px;
}

.datePicker tbody * {
    height: 70px;
    text-align: center;
}

.ui-datepicker-inline {
    width: 640px;
}

.ui-datepicker-inline .a {
    text-align: center;
    vertical-align: center;
}

/* Modal - Confirm */

.modal__bg {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    text-align: center;
    background: #e8e8e8;
    color: #242424;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__content .d-block {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgb(0 0 0);
}

.js-modal-close {
    display: table;
    margin: 0 auto;
}

/* Confirm Table */

.reserveConfirm {
    margin: 32px auto;
}

.reserveConfirm .alignRight {
    text-align: right;
    right: 0;
}