@charset "UTF-8";

body {
    margin: 0 auto;
}

.container {
    height: fit-content;
}

.wrapper {
    display: block;
    margin: 24px auto;
}

.topTitle {
    font-size: 24px;
    text-align: center;
}

.datePicker {
    display: inline-block;
    margin-bottom: 24px;
}