@charset "UTF-8";

/* Common */

body {
    margin: 0 auto;
}

.container {
    height: fit-content;
}

.wrapper {
    margin: 24px auto;
}

.topTitle {
    font-size: 24px;
    text-align: center;
}

/* Parts */

.btn-primary {
    width: 80px;
}

/* Reserve Page */

.inputContents {
    display: grid;
    width: 400px;
    margin-bottom: 16px;
}

.textAreaLarge {
    width: 400px;
    height: 300px;
}

/* datePicker */

.datePicker {
    display: inline-block;
    margin: 0 auto 24px;
    text-align: center;
}

.datePicker tbody * {
    height: 70px;
    text-align: center;
}

.ui-datepicker-inline {
    width: 640px;
}

.ui-datepicker-inline .a {
    text-align: center;
    vertical-align: center;
}