body {
  color: #121212;
}

a {
  color: #121212;
  text-decoration: none;
}
img {
    width: 150px;
    height: 150px;
    /* max-width: 100%; */
    vertical-align: bottom;
  
}
/* li {
  list-style: none;
} */

/* サイドメニューの横幅分だけ左にmarginをとる */
.container {
  margin-left: 300px;
}

.container h1 {
    padding-left: 5;
}



/* コンテンツ幅を設定するための共通クラス */
.wrapper {
  max-width: 900px;
  padding: 80px 20px;
  margin: 0 auto;
}
.site-title {
  width: 200px;
  /* line-height: 1px; */
  margin-bottom: 30px;
}
.site-title a {
  display: block;
}
/*
セクションタイトル用の共通クラス
両サイドの線は疑似要素で作成して、Flexboxで横並びに配置
※beforeが左の線、afterが右の線
*/
.sec-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  margin-bottom: 60px;
  text-align: center;
}
.sec-title::before,
.sec-title::after {
  border-top: 1px solid;
  content: "";
  width: 28%;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/*
サイドのロゴとグローバルナビゲーションは「header」タグで囲む
※サイドに配置しているが、ロゴとグローバルナビゲーションを含んだヘッダー要素のため、
「aside」タグではなく「header」タグを使用します。
「aside」タグは、メインコンテンツとは直接関係ない補足的な情報をサイドバーとして配置する場合に使用します。
例えば、Codestep内の「中級編：ブログサイト」のような使い方です。

中級編：ブログサイト　デモ
https://code-step.com/demo/html/blog/
*/
#header {
  width: 250px;
  height: 100%;
  background-color: #fff;
  padding: 40px 50px 30px 45px;
  position: fixed;
  top: 0;
  /* 画面の高さが低くてメニューが隠れてしまった場合に、縦スクロールが出るよう設定 */
  overflow-y: auto;
}
#header .nav-menu {
  margin-bottom: 60px;
}
#header li {
  font-size: 0.875rem;
  padding: 8px 0;
}


