  a {
    color: #121212;
  }
  .rogoimg {
      width: 150px;
      height: 150px;
      vertical-align: bottom;
  }

  .topimg{
      width: 500px;
      height: 500px;
      text-align: center;
  }

  .seitaiimg{
    width: 200px;
    height: 200px;
  }

  .hariimg{
    width: 200px;
    height: 200px;
  }
  
  /* サイドメニューの横幅分だけ左にmarginをとる */
  .toppage{
    margin: auto;
  }
  
  .toppage h1 {
      text-align: center;
      margin-top: 3%;
    }
  
  .main{
      display: flex; 

  }
    /* サイドバーの下にダミーバー */
  .dummysidebar{
      width: 180px;
  }
  
  
  /* コンテンツ幅を設定するための共通クラス */
  .wrapper {
    max-width: 900px;
    padding: 80px 20px;
    margin: 0 auto;
  }
  .site-title {
    width: 200px;
    margin-bottom: 30px;
  }
  .site-title a {
    display: block;
  }
  /*
  セクションタイトル用の共通クラス
  両サイドの線は疑似要素で作成して、Flexboxで横並びに配置
  ※beforeが左の線、afterが右の線
  */
  .sec-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.75rem;
    margin-bottom: 60px;
    text-align: center;
  }
  .sec-title::before,
  .sec-title::after {
    border-top: 1px solid;
    content: "";
    width: 28%;
  }
  
  /*-------------------------------------------
  サイドバー
  -------------------------------------------*/
  
  #header {
    width: 180px;
    height: 100%;
    background-color: #fff;
    padding: 0px 15px 30px 15px;
    /* padding: 0px 50px 30px 45px; */
    position: fixed;
    top: 0;
    /* 画面の高さが低くてメニューが隠れてしまった場合に、縦スクロールが出るよう設定 */
    overflow-y: auto;
    background-color: aqua;
    justify-content: center;
    padding-top: 3%;
  }
  #header .nav-menu {
    margin-bottom: 60px;
  }
  #header li {
    font-size: 0.875rem;
    padding: 8px 0;
  }

  /* 施術料金画面 */
  .course{
    padding-left: 25%;
  }
  
  .course1{
    display: flex;
    margin: auto;
    font-size: 30px;
  }

  .course2{
    display: flex;
    margin: auto;
    font-size: 30px;
  }


  /* スタッフ紹介画面 */
  .guide{
    text-align: center;
  }
  .guide h1{
    padding-top: 2%;
  }
  .guide b{
    font-size: 20px;
  }

  .intyouimg{
    width: 250px;
    height: 250px;
  }

  .flex{
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
}

  .flex .textarea{
    width: 50%;
    }

  .flex .imgarea{
      width: 50%;
      padding-left: 5%;
  }

  .textarea{
    position: relative;
    padding:0.25em 1em;
    width: 50%;
  }

  .textarea:before,.textarea:after{ 
      content:'';
      width: 20px;
      height: 30px;
      position: absolute;
      display: inline-block;
  }
  .textarea:before{
      border-left: solid 1px #5767bf;
      border-top: solid 1px #5767bf;
      top:0;
      left: 0;
  }
  .textarea:after{
      border-right: solid 1px #5767bf;
      border-bottom: solid 1px #5767bf;
      bottom:0;
      right: 0;
  }
  .textarea p {
      margin: 0; 
      padding: 0;
  }

  .staff{
    margin: 5% 10%;
  }
  .flexA{
    display: flex;
  }
  .imgareaA{
    width: 50%;
  }
  

  .flexB{
    display: flex;
    padding-top: 5%;
  }

  .imgareaB{
    width: 50%;
  }

  


  /* 診療時間 フッター*/
  thead, tbody, tfoot, tr, td, th{
    border-width: 1px;
  }
  .signboard{
    margin: auto;
    width: 350px;
    height: 200px;
  }
  .signboard1{
    font-size: 20px;
  }
  .signboard2{
    background: #0f2e84 !important;
  }
  .th-white-str{
    color: #fff;
  }
  
  .footerflex{
    display: flex;
    margin: auto;
    padding-left: 25%;
    background-color: papayawhip;
    border: solid;
  }
  .footer{
    margin-top: 5%;
  }
  .footer li{
    list-style: none;
  }

  .footer1 li{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .footer2{
    padding-left: 13%;
  }

  .footer-d{
    background: #0f2e84 !important;
    color: #fff;
    border-radius :8px;/*角の丸み*/
    box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
    padding: 0.5em 0.5em 0.5em 2em;
    line-height: 1.5;
    padding: 0.2em 0;
  }
  