.container2{
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    font-weight: bold;
    border: solid 1px #000000;
    height: 500px;
}

.side{
    width: 120px;
    border-right: 1px solid rgb(30, 30, 32);
    font-size: 20px;
}

.side-inner li{
    margin-bottom: 15%;
}

.main{
    width: calc(100% - 100px);
    border-left: 1px solid #eef;
    border-right: 1px solid #eef;
    text-align: right;
    
}

.favorite .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(143, 135, 135);
    border-radius: 10px;
    background-color: rgb(201, 191, 191);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.signup .button{
    margin-top: 10%;
}

.styled:hover {
    background-color: rgb(160, 151, 151);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* 会員登録画面 */

body.signup {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}

.signup .form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signup input{
    margin-bottom: 10px;
}

.signup .regist-content{
    margin-bottom: 0px;
    /* margin-top: 5%; */
    text-align: left;
    color: rgb(0, 0, 0);
}

.flex_test-box {
    display: flex;              /* フレックスボックスにする */
}

.signup .input-login{
    padding: 15px;
    margin:auto
}